/* Basic Styles */

body{
    max-width:1680px;
    font: 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#0A121B;
    background: #ECECEC;
    margin:0 auto;
}

/* Header Styles */
header{
    width:100%; /* 1680px */
    background:#22313F;
}
nav{
    width:95%; /* 1596px */
    text-align: center;
    padding-bottom: .5%;
}

nav ul li{
    display:inline-block;
    margin-right:2.5%;
}
nav ul li:last-child{
    margin-right:0;
}
nav ul a{
    text-decoration: none;
    box-shadow: 0 4px 0 0 #019875;
    color:#ECF0F1;
    font-weight:bold;
    font-size:.75em;
}
#landing{
    background:url('../images/hike.jpeg')top center no-repeat;
    background-size: 100% 100%;
    position:relative;
    width:100%; /* 1680px */
    height:550px;
}
#landing h1{
    position: absolute;
    bottom:5%;
    left: 5%;
    color:#F5D76E;
    font-size:3em;
}

/* Content Styles */

.content-wrapper{
    width:80%; /* 1344px */
    margin: 0 auto;
    overflow:auto;
}
.tile{
    width:29.017857142%; /*390px*/
    height:250px;
    margin:2%;
    float:left;
    box-shadow: 3px 5px 15px 0 #34495E;
    border-radius:5px;
    background:#019875;
    text-align: center;
}
/* .fa is style for Icons used in .tile */
.fa{
    font-size:5em;
    margin-bottom:3%;
}

.fa + a{
    font-size:.5em;
    color:inherit;
    display:block;
}

section{
    position:relative;
    overflow:hidden;
}

section > h2{
    margin:5%;
}

/*Post Styles*/

article{
    margin:2% 0;
    width: 65.029761904%; /*874px*/
    float:left;
    padding:2%;
}

article section > h3{
    text-align:left;
    font-size:2em;
    font-variant:small-caps;
}

#hiking, #camping, #gear, #gallery{
    box-shadow: 3px 5px 15px 0 #34495E;
    padding:1%;
    background:#FAF7F7;
    border-radius:5px;
    margin:5% auto;
}

#hike-more, #camp-more, #gear-more{
    display:none;
}

#hiking div + p::first-letter, #camping div + p::first-letter, #gear div + p::first-letter{
    margin:0 .25% 0;
    font-size:2em;
}

/* Images inside Posts */

.img-wrap{
    width:24.942791762%; /*218px*/
    float:left;
    margin: 2%;
}
.img-wrap > img{
    width:100%; /*218px*/
}

/* Sidebar Pictures */

aside{
    width:25%; /*336px*/
    margin:20% 0;
    float:right;
}

figure{
    width:89.880952381%; /*302px*/
    margin:0 auto;
    float:left;
}

figure > img{
    width:90.066225165%;
    border-radius:5px;
    margin-bottom:5.575%;
    border:8px solid #D2D7D3;
}

aside > figure:nth-child(odd) img{
    transform:rotate(20deg);
}

aside > figure:nth-child(even) img{
    transform:rotate(-20deg);
}

/*Button Styles*/

input[type="button"]{
    border:none;
    width:15%;
    padding:1%;
    font-size:1em;
    margin:1% auto;
    border-radius:5px;
    font-weight:bold;
    font-variant:small-caps;
    background: linear-gradient(to bottom, #01a57f 0%,#00593e 100%);

}
input[type=button]:focus{
    outline: none;
}

/*Corner Ribbon*/

.tag{
    width: 200px; /*Corner "New" Ribbon set width, ribbon breaks with % width*/
    position: absolute;
    top: 25px;
    right: -50px;
    left: auto;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size:1.25em;
    background: linear-gradient(to bottom, #f5d76e 0%,#b29b50 100%);
    transform: rotate(45deg);
    display:none;
}
article > section:first-of-type > .tag{
    display:inline-block;
}

/* Gallery Styles */

#gallery{
    width:95.014880952%; /*1277px*/
    clear:both;
}

#gallery > div{
    columns:2;
    column-gap:20px; /* % value returns error*/
    -webkit-columns:2;
    -webkit-column-gap:20px; /* % value returns error*/
    display:none;
}

#gallery > div > img{
    width:100%;
}

#gallery h3{
    display:inline-block;
}

#gallery input[type="button"]{
    float:right;
}
/* Footer Styles */
footer{
    width:100%; /*1680px*/
    position:relative;
    text-align: center;
    font-size:.5em;
}

/* -----------------MEDIA QUERIES----------------- */
/* Tablet Portrait size to 1080px*/
@media screen and (max-width:1080px){
    .fa{
        font-size:3em;
        margin-bottom:1%;
    }
    .tile{
        font-size:.75em;
        height:200px;
    }
    article{
        width:75%;
    }
    aside{
        width:20%;
    }
    figure > img{
        border:2px solid #D2D7D3;
    }
}


/* Mobile Landscape to Tablet Portrait */
@media screen and (max-width:767px){
    #landing{
        height:300px;
    }
    aside{
        display:none;
    }
    .content-wrapper{
        width:99%;
    }
    article{
        width:95%;
    }
    #gallery{
        width:90%;
    }
}

/* Fix for tiles h2 font size */
@media screen and (max-width:555px){
    .tile h2{
        font-size:1.2em;
    }
}

/* Mobile Portrait and below */
@media screen and (max-width:480px){
    .tile:nth-child(2), .tile:nth-child(3){
        display:none;
    }
    .tile{
        width:95%;
        font-size:1.2em;
    }
    .img-wrap{
        width:95%;
    }

}

/* Small devices */
@media screen and (max-width:320px){
    input[type="button"]{
        width:25%;
        padding:2.5%;
    }
    #gallery > div{
        columns:1;
        -webkit-columns:1;
    }
    article section{
        font-size:.85em
    }
}
